%h1= "#{@title}"

%form.form-stacked{ :action => "/link/edit/#{@link.id}", :method => "post"}
  
  %fieldset.clearfix
    %label{:for => "name"} Name:
    %input.span4{:type  => "text",
                 :name  => "name",
                 :class => "text",
                 :value => "#{@link.name}" }
  
  %fieldset.clearfix.url
    %label{:for => "url"} Url:
    %input.span4{:type => "url",
                 :name => "url",
                 :value => "#{@link.url}"}
  
  %fieldset.clearfix
    %label{:for => "description"} Description:
    %textarea.span4{:type => "text",
                    :name => "description",
                    :class => "text",
                    rows: 3}= @link.description
  
  %div.actions
    %input.btn.primary{#:name => "newurl",
                       :type => "submit",
                       :value => "Send",
                       :class => "button"}

- if @err.nil?
  - true
- elsif @err
  .alert-message.error
    %p= "Url \"#{@link.url}\" is invalid"
