.sidebar
  .well
    %h3= "#{@rss.title} <small>recent</small>"
    - @rss.items[0..2].each do |feed|
      %a{:href => "#{feed.link}"}
        %p= feed.title
    %hr

    %h3 Notes <small>recent</small>
    - @articles.each do |art|
      %a{:href => "/article/#{art.id}"}
        %h5
          = art.title

    %hr

    %a{:href => "/links"}
      %h6 All links

    %a{:href => "/articles"}
      %h6 All articles

.content
  .hero-unit
    %h1 Wanna read something?
    %p It's probably the best place in the Internet to read something!

  .row
    - @items[0..11].each do |item|
      .span4
        %a{:href => "#{item.url}"}
          %h2= item.name
        %p= item.description
  
